.tank1{
    width: 90%;



}

.tank2{

    width: 75%;
    padding-bottom: 13px;
    padding-top: 5px;
}

.tank3{

    width: 75%;
    padding-bottom: 13px;
    padding-top: 8px;
}

.tank4{

    width: 75%;
    padding-bottom: 13px;
    padding-top: 5px;
}